include_rules

# Standard page generation, should probably be replaced with an actual
# markdown -> html converter, this is a shim similar to Markdown.

# Note that it is mandatory that page parts get added to partial/<%B>

!generate_html = | partial/<%B> |> plugin.d/base/run %f > %o |>

: foreach partial/*.mw |> !generate_html |> build/%B.html <html>

