include_rules

# this rule MUST go after all plugin generated pages, because tup
# declarations with wild cards are unfortunately order dependant.

: partial/*.mw <meta> |> plugin.d/index/run partial > %o |> build/#.html

