include_rules

# 'mentions' works by creating a master mention file, and being queried
# by each page that wants to know where it was mentioned.

: entries/*.mw |> plugin.d/mentions/run > %o |> partial/core-mentions plugin.d/<join>

