
# these rules are used to join all of the different bits of a page into
# a single page, it is important that any plugin adds it's parts of
# generated pages to the build/meta/<%B> group.

!join = | plugin.d/join/order build/meta/<%B> |> plugin.d/join/run %B > %o |>

: foreach *.mw |> !join |> build/%B.html <html>

