include_rules

# Standard page generation, should probably be replaced with an actual
# markdown -> html converter, this is a shim similar to Markdown.

# Note that it is mandatory that page parts get added to partial/<%B>

!generate_html = | partial/<%B> |> ^ plugin.d/html %f^ cat %f | plugin.d/html/run > %o |>

: foreach partial/*.md |> !generate_html |> out-html/%B.html <html>

