
include_rules

# this rule MUST go after all plugin generated pages, because tup
# declarations with wild cards are unfortunately order dependant.

!each_missing = |> plugin.d/missing/run %B > %o |>
: foreach *.mw |> !each_missing |> build/meta/%B.missing
: build/meta/*.missing |> ^ plugin.d/missing/join build/meta/*.missing > %o^ plugin.d/missing/join %f > %o |> build/~missing.html <meta>
