include_rules

# this rule MUST go after all plugin generated pages, because tup
# declarations with wild cards are unfortunately order dependant.

: $(ENTRIES)/*.mw |> plugin.d/missing/run > %o |> $(PARTIAL)/~missing.mw <meta>
