include_rules

# 'tapestry' works by creating a central page -> page file, which is queried
# when rendering pages. It uses a different format than mentions.
: entries/*.mw |> plugin.d/tapestry/indexer > %o |> partial/~tapestry-meta plugin.d/<join>
