
include_rules

# this rule MUST go after all plugin generated pages, because tup
# declarations with wild cards are unfortunately order dependant.

!each_quotes = |> plugin.d/quotes/run %B > %o |>
: foreach *.mw |> !each_quotes |> build/meta/%B.quotes
: | build/meta/*.quotes |> ^ join build/meta/*.quotes > %o^ find build/meta -name '*.quotes' -print0 | xargs --null cat > %o |> build/~quotes.html <meta>
