include_rules

# these rules are used to join all of the different bits of a page into
# a single page. The actual joining is done by ./run, which needs to get
# editted for each new page-part generating plugin. It is important that
# plugins which add data to pages add their output to plugin.d/<join>
# this ensures consistent dependency ordering.

!join = | plugin.d/<join> |> plugin.d/join/run %B > %o |>

: foreach entries/*.mw |> !join |> partial/%B.mw

