include_rules

# these rules are used to join all of the different bits of a page into
# a single page, it is important that any plugin adds it's parts of
# generated pages to the $(PARTIAL)/<%B> group.

!join = | plugin.d/<join> |> plugin.d/join/run %B > %o |>

: foreach $(ENTRIES)/*.mw |> !join |> $(PARTIAL)/%B.mw

