include_rules

# Functionally similar to `mentions` this generates a similar list of mentions
# but then discards mentions of pages that exist.

: entries/*.mw |> plugin.d/missing/run > %o |> partial/~missing.mw <meta>
