include_rules

# this rule MUST go after all plugin generated pages, because tup
# declarations with wild cards are unfortunately order dependant.

!each_event = |> plugin.d/events/run %B %f > %o |>
: foreach entries/*.mw |> !each_event |> partial/%B.events

: | partial/*.events |> ^ plugin.d/events/join partial/*.events > %o^ plugin.d/events/join partial events > %o |> partial/~events.mw <meta>
